body {
	margin: 0; padding: 0; /* annulation des marges */
	overflow: hidden; /* on cache le débordement de contenu */
	color: #fff;
	background: #000;
}
 
#wrap {
	/* position du conteneur pour le préparer à bouger */
	position: relative;
	top: 0;
	/* on prépare la transition à venir */
	transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}
 
#nav {
	/* on fixe le menu en haut */
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 1em 0;
	margin: 0;
	/* on centre les liens */
	text-align: center;
	background: grey;
}
#nav li {
	/* on aligne les éléments de liste */
	display: inline;
	margin:0;
}
#nav a {
	/* on applique des marges aux liens */
	display: inline-block;
	margin: 0 3em;
	color: lightblue;
	/* on applique une petite lueur */
	
	/* on prévoit une petite transition (lueur) */
	transition: all 1s;
}

/* slides */
#slide1, #slide2, #slide3 {
	/* height à adapter avec media queries */
	height: 950px;
	padding-top:100px;
	/* préparation des transitions */
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
}
/* attribution des images de fond */
#slide1 { background:url(background/gaming-pattern.png) center 0 repeat fixed; }
#slide2 { background:url(background/strange_bullseyes.png) center 0 repeat fixed; }
#slide3 { background:url(background/cubes.png) center 0 repeat fixed; }
 
/* Contenus des slides */
.slide_inside {
	width: 770px;
	margin: 0 auto;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
	padding: 20px;
}
 /* SLIDE 1*/
#slide1 .slide_inside {
	color: black;
	text-align: center;
	background-color: lightgrey;
}

#info {
	font-size: 19px;
}

#photo {
	width: 190px;
	height: 220px;
}
img {
	width: 25px;
	height: 25px;
}

.personel {
	margin-top: 20px;
	margin-bottom: 15px;
}

.container {
	display: flex;
}

.image {
	background-color: transparent;
	margin-left: 2%;
	position: absolute;
}
.competence{
	background-color: grey;
	color: lightblue;
	margin: 0 auto;
	height: 30px;
	width: 100%;
	font-size: 20px;
}

.html {
	height: 30px;
	padding-top: 5px;
}

.container_comp {
		padding-top: 5px;
	display: flex;
	height: 160px;
	width:  50%;
	margin: 0 auto;
}

#D1 {
	line-height: 0px;
	color: black;
	display: flex;
	flex: 1;
	flex-direction: column;
	border-right: 1px black solid;
}
#D2 {
	line-height: 0px;
	display: flex;
	flex: 1;
	flex-direction: column;
	color: grey;
}

.color {
	font-weight: bold;
	color: grey;
}


/* SLIDE 2*/ 
#slide2 .slide_inside  {

	width: 700px;
	height: 500px;
	text-align: center;
	background-color: lightgrey;
	color: black;

}

#grade {
	width: 80px;
	height: 80px;
}

.container-form {
	display: flex;
	margin-bottom: 1%;
}

.annee {
	border-right: 1px black solid;
	display: flex;
	flex:1;
	line-height: 0px;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height:100%;
}

.form {
	border-right: 1px black solid;
	display: flex;
	flex:1;
	line-height: 0px;
	flex-direction: column;
	text-align: center;
	width: 100%;
	height:100%;
}

.localisation {
	display: flex;
	flex:1;
	line-height: 0px;
	flex-direction: column;
	width: 100%;
	height:100%;
	text-align: center;
}

#location {
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: 25%;
	margin-top: 0.5%;
}

#location1 {
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: 25%;
	margin-top: 4.5%;
}

#location2 {
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: 25%;
	margin-top: 8.8%;
}

#location3 {
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: 25%;
	margin-top: 12.8%;
}

.loisir {

	background-color: grey;
	color: lightblue;
	margin: 0 auto;
	height: 30px;
	width: 100%;
	font-size: 20px;}


.container-loisir {
	color: darkred;
	font-weight: bold;
display: flex;
}

#travel {
	display: flex;
	flex: 1;
	flex-direction: column;

}

#game {
	flex:1;
	display: flex;
	flex-direction: column;

}

#read {
	flex:1;
	display: flex;
	flex-direction: column;

}

#puzzle {
	flex:1;
	display: flex;
	flex-direction: column;

}

.img-loisir {
	width: 60px;
	height: 60px;
margin-left: 35%;
padding-bottom: 10px;
padding-top: 5px;
}

#show {
	width: 100%
	height:50px;
	margin-top: 3%;
}

/* SLIDE 3*/
#slide3 .slide_inside {
	margin-top: 50px;
	height: 500px;
	background-color: lightgrey;
}

#work {
	margin-left: 45%;
	width: 80px;
	height: 80px;
}

.container-work {
	display: flex;
	line-height: 0px;
	color: black;
}

#year {
display: flex;
flex:1;
flex-direction: column;
text-align: center;
border-right:1px black solid;
}

#travail {
display: flex;
flex:1;
flex-direction: column;
text-align: center;
border-right:1px black solid;
}

#stat {
	display: flex;
flex:1;
flex-direction: column;
text-align: center;

}
.qualite {
	width: 100%;
	height: 30px;
	background-color: grey;
	text-align: center;
	color: lightblue;
	margin: 0 auto;
	font-size: 20px;
	margin-top: 1%;
}

#defile  {

	width: 50%;
	height: 100px;
	margin: 0 auto;

}

.def {
	color: black;
	text-align: center;
	line-height: 5px;
}
/* décalage du conteneur vers le haut */
#s2:target ~ #wrap {
	top:-1000px;
}
 
/* décalage des fonds de chaque slide */
#s2:target ~ #wrap #slide1 { background-position: 50% 36%; }
#s2:target ~ #wrap #slide2 { background-position: 50% 0%; }
#s2:target ~ #wrap #slide3 { background-position: 50% -30%; }
 
}
 
/* juste pour la déco (lueur sur le lien cliqué) */
#s2:target ~ #wrap #nav li:first-child + li a {color: darkred; font-weight: bold;}

/* vers Slide 1 */
#s1:target ~ #wrap { top:0px; }
#s1:target ~ #wrap #nav li:first-child a {color: darkred; font-weight: bold;}
#s1:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s1:target ~ #wrap #slide2 { background-position: 50% -35%; }
#s1:target ~ #wrap #slide3 { background-position: 50% -60%; }

 
/* vers Slide 3 */
#s3:target ~ #wrap { top:-2150px; }
#s3:target ~ #wrap #nav li:last-child a { color: darkred; font-weight: bold;}
#s3:target ~ #wrap #slide1 { background-position: 50% 60%; }
#s3:target ~ #wrap #slide2 { background-position: 50% 35%; }
#s3:target ~ #wrap #slide3 { background-position: 50% 0%; }

